networkx == 2.8.8
numpy >= 1.23.4
matplotlib == 3.6.2
graphviz == 0.20.1
https://github.com/SamiAlavi/pyvis/releases/download/v0.3.2/pyvis-0.3.2.tar.gz
pylint == 2.15.6
flask == 2.2.2
flask-cors == 3.0.10